:root {
  --shadow-lg-shadowType: dropShadow;
  --shadow-lg-radius: 40;
  --shadow-lg-color: #0000004d;
  --shadow-lg-offsetX: 0;
  --shadow-lg-offsetY: 0;
  --shadow-lg-spread: 0;
  --shadow-md-shadowType: dropShadow;
  --shadow-md-radius: 25;
  --shadow-md-color: #00000026;
  --shadow-md-offsetX: 0;
  --shadow-md-offsetY: 0;
  --shadow-md-spread: 0;
  --shadow-sm-shadowType: dropShadow;
  --shadow-sm-radius: 10;
  --shadow-sm-color: #00000080;
  --shadow-sm-offsetX: 0;
  --shadow-sm-offsetY: 0;
  --shadow-sm-spread: 0;
  --shadow-sm-lighter-shadowType: dropShadow;
  --shadow-sm-lighter-radius: 10;
  --shadow-sm-lighter-color: #0000001a;
  --shadow-sm-lighter-offsetX: 0;
  --shadow-sm-lighter-offsetY: 0;
  --shadow-sm-lighter-spread: 0;
  --shadow-sm-bottom-shadowType: dropShadow;
  --shadow-sm-bottom-radius: 20;
  --shadow-sm-bottom-color: #00000014;
  --shadow-sm-bottom-offsetX: 0;
  --shadow-sm-bottom-offsetY: 5;
  --shadow-sm-bottom-spread: 0;
  --shadow-xs-shadowType: dropShadow;
  --shadow-xs-radius: 2;
  --shadow-xs-color: #0000000a;
  --shadow-xs-offsetX: 0;
  --shadow-xs-offsetY: 2;
  --shadow-xs-spread: 0;
  --toggle-shadow-right-shadowType: dropShadow;
  --toggle-shadow-right-radius: 2;
  --toggle-shadow-right-color: #00000040;
  --toggle-shadow-right-offsetX: -1;
  --toggle-shadow-right-offsetY: 1;
  --toggle-shadow-right-spread: 0;
  --toggle-shadow-left-shadowType: dropShadow;
  --toggle-shadow-left-radius: 2;
  --toggle-shadow-left-color: #00000040;
  --toggle-shadow-left-offsetX: 1;
  --toggle-shadow-left-offsetY: 1;
  --toggle-shadow-left-spread: 0;
  --toast-shadow-shadowType: dropShadow;
  --toast-shadow-radius: 3;
  --toast-shadow-color: #00000014;
  --toast-shadow-offsetX: 2;
  --toast-shadow-offsetY: 2;
  --toast-shadow-spread: 0;
  --color-brand-color-fai_blue: #2a62dbff;
  --color-brand-color-fai_blue_light: #0095ffff;
  --color-red-000: #ffededff;
  --color-red-100: #ffd7d7ff;
  --color-red-200: #eca3a3ff;
  --color-red-300: #e37979ff;
  --color-red-400: #db5050ff;
  --color-red-500: #d32a2aff;
  --color-red-600: #b32424ff;
  --color-red-700: #961e1eff;
  --color-red-800: #781818ff;
  --color-red-900: #5f1313ff;
  --color-white: #ffffffff;
  --color-black: #000000ff;
  --color-yellow-000: #fff8e8ff;
  --color-yellow-100: #ffefc7ff;
  --color-yellow-200: #fee39bff;
  --color-yellow-300: #fed56dff;
  --color-yellow-400: #fdc941ff;
  --color-yellow-500: #fdbd17ff;
  --color-yellow-600: #d7a114ff;
  --color-yellow-700: #b48610ff;
  --color-yellow-800: #906c0dff;
  --color-yellow-900: #72550aff;
  --color-orange-000: #fff6edff;
  --color-orange-100: #ffeed8ff;
  --color-orange-200: #fcdab6ff;
  --color-orange-300: #fac17fff;
  --color-orange-400: #f7a43fff;
  --color-orange-500: #ee8610ff;
  --color-orange-600: #df6800ff;
  --color-orange-700: #b75601ff;
  --color-orange-800: #7c4207ff;
  --color-orange-900: #552c0bff;
  --color-lime-000: #e7f9f2ff;
  --color-lime-100: #c5f2e0ff;
  --color-lime-200: #98e7c8ff;
  --color-lime-300: #68dcaeff;
  --color-lime-400: #3ad196ff;
  --color-lime-500: #0fc77fff;
  --color-lime-600: #0da96cff;
  --color-lime-700: #0b8d5aff;
  --color-lime-800: #097148ff;
  --color-lime-900: #075a39ff;
  --color-zinc-000: #fafafaff;
  --color-zinc-100: #f4f4f5ff;
  --color-zinc-200: #e4e4e7ff;
  --color-zinc-300: #d4d4d8ff;
  --color-zinc-400: #a8a8b0ff;
  --color-zinc-500: #7b7b85ff;
  --color-zinc-600: #5e5e66ff;
  --color-zinc-700: #4b4b52ff;
  --color-zinc-800: #3f3f46ff;
  --color-zinc-900: #27272aff;
  --color-zinc-1000: #121214ff;
  --color-gray-000: #f8f9fcff;
  --color-gray-100: #eef2f6ff;
  --color-gray-200: #e5ebf2ff;
  --color-gray-300: #d9e2ecff;
  --color-gray-400: #c2d0dfff;
  --color-gray-500: #9fb3c8ff;
  --color-gray-600: #7490acff;
  --color-gray-700: #537696ff;
  --color-gray-800: #486581ff;
  --color-gray-900: #243b53ff;
  --color-gray-1000: #0a101aff;
  --color-green-000: #e8f1efff;
  --color-green-100: #c7ddd9ff;
  --color-green-200: #9ac2bbff;
  --color-green-300: #6ca69bff;
  --color-green-400: #3f8b7dff;
  --color-green-500: #157261ff;
  --color-green-600: #126152ff;
  --color-green-700: #0f5145ff;
  --color-green-800: #0c4137ff;
  --color-green-900: #09332cff;
  --color-blue-000: #f1f5ffff;
  --color-blue-100: #d8e3fcff;
  --color-blue-200: #b2c9fbff;
  --color-blue-300: #799ce8ff;
  --color-blue-400: #507ee1ff;
  --color-blue-500: #2a62dbff;
  --color-blue-600: #2453baff;
  --color-blue-700: #1e469bff;
  --color-blue-800: #18387dff;
  --color-blue-900: #132c63ff;
  --color-blue-brand: #1d4cb3ff;
  --color-violet-000: #f4f3ffff;
  --color-violet-100: #dad8f8ff;
  --color-violet-200: #bdb8f3ff;
  --color-violet-300: #9e98edff;
  --color-violet-400: #8179e7ff;
  --color-violet-500: #655be2ff;
  --color-violet-600: #564dc0ff;
  --color-violet-700: #4841a0ff;
  --color-violet-800: #3a3481ff;
  --color-violet-900: #2d2966ff;
  --color-rose-000: #fdeef4ff;
  --color-rose-100: #fbd5e5ff;
  --color-rose-200: #f8b5d1ff;
  --color-rose-300: #f492bcff;
  --color-rose-400: #f171a7ff;
  --color-rose-500: #ee5294ff;
  --color-rose-600: #ca467eff;
  --color-rose-700: #a93a69ff;
  --color-rose-800: #882f54ff;
  --color-rose-900: #6b2543ff;
  --color-graph-line-100: #e75b5cff;
  --color-graph-line-200: #265c5cff;
  --color-graph-line-300: #29a5a5ff;
  --color-graph-line-400: #8b67ecff;
  --color-graph-line-500: #21a71eff;
  --color-graph-line-600: #854c17ff;
  --color-graph-line-700: #e05aa7ff;
  --color-graph-line-800: #9b9615ff;
  --color-graph-line-900: #5f8ee9ff;
  --color-graph-plane-100: #0d0b60ff;
  --color-graph-plane-200: #2a5ea6ff;
  --color-graph-plane-300: #e05aa7ff;
  --color-graph-plane-400: #b9fdfeff;
  --color-graph-plane-500: #7fcde4ff;
  --color-graph-plane-600: #29a5a5ff;
  --color-graph-plane-700: #ea9b37ff;
  --color-graph-plane-800: #9cf480ff;
  --color-graph-plane-900: #af94f5ff;
  --number-04: 0.25rem;
  --number-08: 0.5rem;
  --number-12: 0.75rem;
  --number-16: 1rem;
  --number-20: 1.25rem;
  --number-24: 1.5rem;
  --number-32: 2rem;
  --number-40: 2.5rem;
  --number-48: 3rem;
  --number-56: 3.5rem;
  --number-64: 4rem;
  --number-72: 4.5rem;
  --number-80: 5rem;
  --number-104: 6.5rem;
  --number-128: 8rem;
  --number-256: 16rem;
  --number-360: 22.5rem;
  --bg-neutral-default-base: var(--color-white);
  --bg-neutral-default-hover: var(--color-gray-000);
  --bg-neutral-default-press: var(--color-gray-100);
  --bg-neutral-subtle-base: var(--color-gray-000);
  --bg-neutral-subtle-hover: var(--color-gray-100);
  --bg-neutral-subtle-press: var(--color-gray-200);
  --bg-neutral-shade-base: var(--color-gray-100);
  --bg-neutral-shade-hover: var(--color-gray-200);
  --bg-neutral-shade-press: var(--color-gray-300);
  --bg-cloudblue-default-base: var(--color-blue-000);
  --bg-cloudblue-default-hover: var(--color-blue-100);
  --bg-cloudblue-default-press: var(--color-blue-200);
  --bg-neutral-disable-base: var(--color-gray-300);
  --bg-cloudblue-strong-base: var(--color-blue-500);
  --bg-cloudblue-strong-hover: var(--color-blue-600);
  --bg-cloudblue-strong-press: var(--color-blue-700);
  --bg-apiviolet-default-base: var(--color-violet-000);
  --bg-apiviolet-default-hover: var(--color-violet-100);
  --bg-apiviolet-strong-base: var(--color-violet-500);
  --bg-apiviolet-strong-hover: var(--color-violet-600);
  --bg-apiviolet-strong-press: var(--color-violet-700);
  --bg-apiviolet-default-press: var(--color-violet-200);
  --bg-containergreen-default-base: var(--color-green-000);
  --bg-containergreen-default-subtle: var(--color-green-100);
  --bg-containergreen-strong-base: var(--color-green-500);
  --bg-containergreen-strong-hover: var(--color-green-600);
  --bg-containergreen-default-press: var(--color-green-200);
  --bg-containergreen-strong-press: var(--color-green-700);
  --bg-success-default-base: var(--color-lime-000);
  --bg-success-default-hover: var(--color-lime-100);
  --bg-success-default-press: var(--color-lime-200);
  --bg-success-strong-base: var(--color-lime-600);
  --bg-success-strong-hover: var(--color-lime-700);
  --bg-success-strong-press: var(--color-lime-800);
  --bg-warning-default-base: var(--color-yellow-000);
  --bg-warning-default-hover: var(--color-yellow-100);
  --bg-warning-default-press: var(--color-yellow-200);
  --bg-warning-strong-base: var(--color-yellow-600);
  --bg-warning-strong-hover: var(--color-yellow-700);
  --bg-warning-strong-press: var(--color-yellow-800);
  --bg-danger-default-base: var(--color-red-000);
  --bg-danger-default-hover: var(--color-red-100);
  --bg-danger-default-press: var(--color-red-200);
  --bg-danger-strong-base: var(--color-red-500);
  --bg-danger-strong-hover: var(--color-red-600);
  --bg-danger-strong-press: var(--color-red-700);
  --fg-neutral-strong: var(--color-gray-1000);
  --fg-neutral-default: var(--color-gray-800);
  --fg-neutral-subtle: var(--color-gray-700);
  --fg-neutral-subtler: var(--color-gray-600);
  --fg-neutral-disable: var(--color-gray-400);
  --fg-neutral-default-base: var(--color-gray-800);
  --fg-neutral-default-hover: var(--color-gray-1000);
  --fg-cloudblue-default-base: var(--color-blue-500);
  --fg-cloudblue-default-hover: var(--color-blue-600);
  --fg-cloudblue-default-press: var(--color-blue-700);
  --fg-apiviolet-strong: var(--color-violet-900);
  --bg-faiblue-default: var(--color-blue-brand);
  --fg-apiviolet-default-base: var(--color-violet-500);
  --fg-white: var(--color-white);
  --fg-apiviolet-default-hover: var(--color-violet-600);
  --fg-apiviolet-default-press: var(--color-violet-700);
  --fg-apigreen-base: var(--color-green-500);
  --fg-apigreen-hover: var(--color-green-600);
  --fg-apigreen-press: var(--color-green-700);
  --fg-faiblue-default: var(--color-blue-brand);
  --fg-success-default-base: var(--color-lime-600);
  --fg-success-default-press: var(--color-lime-800);
  --fg-success-default-hover: var(--color-lime-700);
  --fg-success-strong: var(--color-lime-900);
  --fg-warning-strong: var(--color-yellow-900);
  --fg-danger-strong: var(--color-red-700);
  --fg-warning-default-press: var(--color-yellow-800);
  --fg-warning-default-base: var(--color-yellow-600);
  --fg-warning-default-hover: var(--color-yellow-700);
  --fg-danger-default-hover: var(--color-red-600);
  --fg-danger-default-base: var(--color-red-500);
  --fg-danger-default-press: var(--color-red-700);
  --border-neutral-default: var(--color-gray-300);
  --border-neutral-subtle: var(--color-gray-800);
  --border-neutral-strong: var(--color-gray-1000);
  --border-cloudblue-default: var(--color-blue-500);
  --border-apiviolet-default: var(--color-violet-500);
  --border-apigreen-default: var(--color-green-500);
  --border-success-default: var(--color-lime-600);
  --border-warning-default: var(--color-yellow-600);
  --border-danger-default: var(--color-red-500);
  --bg-neutral-strong-base: var(--color-gray-1000);
  --bg-neutral-strong-hover: var(--color-gray-900);
  --fg-cloudblue-strong: var(--color-blue-900);
  --4xs: var(--number-04);
  --3xs: var(--number-08);
  --2xs: var(--number-12);
  --xs: var(--number-16);
  --sm: var(--number-20);
  --md: var(--number-24);
  --lg: var(--number-32);
  --xl: var(--number-40);
  --2xl: var(--number-56);
  --3xl: var(--number-64);
  --4xl: var(--number-80);
  --sm: var(--number-04);
  --md: var(--number-08);
  --lg: var(--number-12);
  --pill: var(--number-360);
  --title-3xl-fontSize: 2.5rem;
  --title-3xl-textDecoration: none;
  --title-3xl-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-3xl-fontWeight: 530;
  --title-3xl-fontStyle: normal;
  --title-3xl-fontStretch: normal;
  --title-3xl-letterSpacing: 0;
  --title-3xl-lineHeight: 3.25rem;
  --title-3xl-paragraphIndent: 0;
  --title-3xl-paragraphSpacing: 0;
  --title-3xl-textCase: none;
  --title-2xl-fontSize: 2rem;
  --title-2xl-textDecoration: none;
  --title-2xl-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-2xl-fontWeight: 530;
  --title-2xl-fontStyle: normal;
  --title-2xl-fontStretch: normal;
  --title-2xl-letterSpacing: 0;
  --title-2xl-lineHeight: 2.6rem;
  --title-2xl-paragraphIndent: 0;
  --title-2xl-paragraphSpacing: 0;
  --title-2xl-textCase: none;
  --title-xl-fontSize: 1.75rem;
  --title-xl-textDecoration: none;
  --title-xl-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-xl-fontWeight: 530;
  --title-xl-fontStyle: normal;
  --title-xl-fontStretch: normal;
  --title-xl-letterSpacing: 0;
  --title-xl-lineHeight: 2.275rem;
  --title-xl-paragraphIndent: 0;
  --title-xl-paragraphSpacing: 0;
  --title-xl-textCase: none;
  --title-lg-fontSize: 1.5rem;
  --title-lg-textDecoration: none;
  --title-lg-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-lg-fontWeight: 530;
  --title-lg-fontStyle: normal;
  --title-lg-fontStretch: normal;
  --title-lg-letterSpacing: 0;
  --title-lg-lineHeight: 1.95rem;
  --title-lg-paragraphIndent: 0;
  --title-lg-paragraphSpacing: 0;
  --title-lg-textCase: none;
  --title-md-fontSize: 1.25rem;
  --title-md-textDecoration: none;
  --title-md-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-md-fontWeight: 530;
  --title-md-fontStyle: normal;
  --title-md-fontStretch: normal;
  --title-md-letterSpacing: 0;
  --title-md-lineHeight: 1.625rem;
  --title-md-paragraphIndent: 0;
  --title-md-paragraphSpacing: 0;
  --title-md-textCase: none;
  --title-sm-fontSize: 1.125rem;
  --title-sm-textDecoration: none;
  --title-sm-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-sm-fontWeight: 530;
  --title-sm-fontStyle: normal;
  --title-sm-fontStretch: normal;
  --title-sm-letterSpacing: 0;
  --title-sm-lineHeight: 1.4625rem;
  --title-sm-paragraphIndent: 0;
  --title-sm-paragraphSpacing: 0;
  --title-sm-textCase: none;
  --title-xs-fontSize: 1rem;
  --title-xs-textDecoration: none;
  --title-xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-xs-fontWeight: 530;
  --title-xs-fontStyle: normal;
  --title-xs-fontStretch: normal;
  --title-xs-letterSpacing: 0;
  --title-xs-lineHeight: 1.3rem;
  --title-xs-paragraphIndent: 0;
  --title-xs-paragraphSpacing: 0;
  --title-xs-textCase: none;
  --title-2xs-fontSize: 0.875rem;
  --title-2xs-textDecoration: none;
  --title-2xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-2xs-fontWeight: 530;
  --title-2xs-fontStyle: normal;
  --title-2xs-fontStretch: normal;
  --title-2xs-letterSpacing: 0;
  --title-2xs-lineHeight: 1.1375rem;
  --title-2xs-paragraphIndent: 0;
  --title-2xs-paragraphSpacing: 0;
  --title-2xs-textCase: none;
  --title-3xs-fontSize: 0.75rem;
  --title-3xs-textDecoration: none;
  --title-3xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-3xs-fontWeight: 530;
  --title-3xs-fontStyle: normal;
  --title-3xs-fontStretch: normal;
  --title-3xs-letterSpacing: 0;
  --title-3xs-lineHeight: 0.975rem;
  --title-3xs-paragraphIndent: 0;
  --title-3xs-paragraphSpacing: 0;
  --title-3xs-textCase: none;
  --body-xl-wide-regular-fontSize: 1.125rem;
  --body-xl-wide-regular-textDecoration: none;
  --body-xl-wide-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-wide-regular-fontWeight: 430;
  --body-xl-wide-regular-fontStyle: normal;
  --body-xl-wide-regular-fontStretch: normal;
  --body-xl-wide-regular-letterSpacing: 0;
  --body-xl-wide-regular-lineHeight: 2.025rem;
  --body-xl-wide-regular-paragraphIndent: 0;
  --body-xl-wide-regular-paragraphSpacing: 0;
  --body-xl-wide-regular-textCase: none;
  --body-xl-wide-medium-fontSize: 1.125rem;
  --body-xl-wide-medium-textDecoration: none;
  --body-xl-wide-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-wide-medium-fontWeight: 430;
  --body-xl-wide-medium-fontStyle: normal;
  --body-xl-wide-medium-fontStretch: normal;
  --body-xl-wide-medium-letterSpacing: 0;
  --body-xl-wide-medium-lineHeight: 2.025rem;
  --body-xl-wide-medium-paragraphIndent: 0;
  --body-xl-wide-medium-paragraphSpacing: 0;
  --body-xl-wide-medium-textCase: none;
  --body-xl-wide-semibold-fontSize: 1.125rem;
  --body-xl-wide-semibold-textDecoration: none;
  --body-xl-wide-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-wide-semibold-fontWeight: 430;
  --body-xl-wide-semibold-fontStyle: normal;
  --body-xl-wide-semibold-fontStretch: normal;
  --body-xl-wide-semibold-letterSpacing: 0;
  --body-xl-wide-semibold-lineHeight: 2.025rem;
  --body-xl-wide-semibold-paragraphIndent: 0;
  --body-xl-wide-semibold-paragraphSpacing: 0;
  --body-xl-wide-semibold-textCase: none;
  --body-xl-regular-fontSize: 1.125rem;
  --body-xl-regular-textDecoration: none;
  --body-xl-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-regular-fontWeight: 430;
  --body-xl-regular-fontStyle: normal;
  --body-xl-regular-fontStretch: normal;
  --body-xl-regular-letterSpacing: 0;
  --body-xl-regular-lineHeight: 1.6875rem;
  --body-xl-regular-paragraphIndent: 0;
  --body-xl-regular-paragraphSpacing: 0;
  --body-xl-regular-textCase: none;
  --body-xl-medium-fontSize: 1.125rem;
  --body-xl-medium-textDecoration: none;
  --body-xl-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-medium-fontWeight: 430;
  --body-xl-medium-fontStyle: normal;
  --body-xl-medium-fontStretch: normal;
  --body-xl-medium-letterSpacing: 0;
  --body-xl-medium-lineHeight: 1.6875rem;
  --body-xl-medium-paragraphIndent: 0;
  --body-xl-medium-paragraphSpacing: 0;
  --body-xl-medium-textCase: none;
  --body-xl-semibold-fontSize: 1.125rem;
  --body-xl-semibold-textDecoration: none;
  --body-xl-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xl-semibold-fontWeight: 430;
  --body-xl-semibold-fontStyle: normal;
  --body-xl-semibold-fontStretch: normal;
  --body-xl-semibold-letterSpacing: 0;
  --body-xl-semibold-lineHeight: 1.6875rem;
  --body-xl-semibold-paragraphIndent: 0;
  --body-xl-semibold-paragraphSpacing: 0;
  --body-xl-semibold-textCase: none;
  --body-lg-regular-fontSize: 1rem;
  --body-lg-regular-textDecoration: none;
  --body-lg-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-lg-regular-fontWeight: 430;
  --body-lg-regular-fontStyle: normal;
  --body-lg-regular-fontStretch: normal;
  --body-lg-regular-letterSpacing: 0;
  --body-lg-regular-lineHeight: 1.5rem;
  --body-lg-regular-paragraphIndent: 0;
  --body-lg-regular-paragraphSpacing: 0;
  --body-lg-regular-textCase: none;
  --body-lg-medium-fontSize: 1rem;
  --body-lg-medium-textDecoration: none;
  --body-lg-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-lg-medium-fontWeight: 430;
  --body-lg-medium-fontStyle: normal;
  --body-lg-medium-fontStretch: normal;
  --body-lg-medium-letterSpacing: 0;
  --body-lg-medium-lineHeight: 1.5rem;
  --body-lg-medium-paragraphIndent: 0;
  --body-lg-medium-paragraphSpacing: 0;
  --body-lg-medium-textCase: none;
  --body-lg-semibold-fontSize: 1rem;
  --body-lg-semibold-textDecoration: none;
  --body-lg-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-lg-semibold-fontWeight: 430;
  --body-lg-semibold-fontStyle: normal;
  --body-lg-semibold-fontStretch: normal;
  --body-lg-semibold-letterSpacing: 0;
  --body-lg-semibold-lineHeight: 1.5rem;
  --body-lg-semibold-paragraphIndent: 0;
  --body-lg-semibold-paragraphSpacing: 0;
  --body-lg-semibold-textCase: none;
  --body-md-regular-fontSize: 0.9375rem;
  --body-md-regular-textDecoration: none;
  --body-md-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-md-regular-fontWeight: 430;
  --body-md-regular-fontStyle: normal;
  --body-md-regular-fontStretch: normal;
  --body-md-regular-letterSpacing: 0;
  --body-md-regular-lineHeight: 1.5rem;
  --body-md-regular-paragraphIndent: 0;
  --body-md-regular-paragraphSpacing: 0;
  --body-md-regular-textCase: none;
  --body-md-medium-fontSize: 0.9375rem;
  --body-md-medium-textDecoration: none;
  --body-md-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-md-medium-fontWeight: 430;
  --body-md-medium-fontStyle: normal;
  --body-md-medium-fontStretch: normal;
  --body-md-medium-letterSpacing: 0;
  --body-md-medium-lineHeight: 1.5rem;
  --body-md-medium-paragraphIndent: 0;
  --body-md-medium-paragraphSpacing: 0;
  --body-md-medium-textCase: none;
  --body-md-semibold-fontSize: 0.9375rem;
  --body-md-semibold-textDecoration: none;
  --body-md-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-md-semibold-fontWeight: 430;
  --body-md-semibold-fontStyle: normal;
  --body-md-semibold-fontStretch: normal;
  --body-md-semibold-letterSpacing: 0;
  --body-md-semibold-lineHeight: 1.5rem;
  --body-md-semibold-paragraphIndent: 0;
  --body-md-semibold-paragraphSpacing: 0;
  --body-md-semibold-textCase: none;
  --body-sm-regular-fontSize: 0.875rem;
  --body-sm-regular-textDecoration: none;
  --body-sm-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-sm-regular-fontWeight: 430;
  --body-sm-regular-fontStyle: normal;
  --body-sm-regular-fontStretch: normal;
  --body-sm-regular-letterSpacing: 0;
  --body-sm-regular-lineHeight: 1.3125rem;
  --body-sm-regular-paragraphIndent: 0;
  --body-sm-regular-paragraphSpacing: 0;
  --body-sm-regular-textCase: none;
  --body-sm-medium-fontSize: 0.875rem;
  --body-sm-medium-textDecoration: none;
  --body-sm-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-sm-medium-fontWeight: 430;
  --body-sm-medium-fontStyle: normal;
  --body-sm-medium-fontStretch: normal;
  --body-sm-medium-letterSpacing: 0;
  --body-sm-medium-lineHeight: 1.3125rem;
  --body-sm-medium-paragraphIndent: 0;
  --body-sm-medium-paragraphSpacing: 0;
  --body-sm-medium-textCase: none;
  --body-sm-semibold-fontSize: 0.875rem;
  --body-sm-semibold-textDecoration: none;
  --body-sm-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-sm-semibold-fontWeight: 430;
  --body-sm-semibold-fontStyle: normal;
  --body-sm-semibold-fontStretch: normal;
  --body-sm-semibold-letterSpacing: 0;
  --body-sm-semibold-lineHeight: 1.3125rem;
  --body-sm-semibold-paragraphIndent: 0;
  --body-sm-semibold-paragraphSpacing: 0;
  --body-sm-semibold-textCase: none;
  --body-xs-regular-fontSize: 0.75rem;
  --body-xs-regular-textDecoration: none;
  --body-xs-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xs-regular-fontWeight: 430;
  --body-xs-regular-fontStyle: normal;
  --body-xs-regular-fontStretch: normal;
  --body-xs-regular-letterSpacing: 0;
  --body-xs-regular-lineHeight: 1.125rem;
  --body-xs-regular-paragraphIndent: 0;
  --body-xs-regular-paragraphSpacing: 0;
  --body-xs-regular-textCase: none;
  --body-xs-medium-fontSize: 0.75rem;
  --body-xs-medium-textDecoration: none;
  --body-xs-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-xs-medium-fontWeight: 430;
  --body-xs-medium-fontStyle: normal;
  --body-xs-medium-fontStretch: normal;
  --body-xs-medium-letterSpacing: 0;
  --body-xs-medium-lineHeight: 1.125rem;
  --body-xs-medium-paragraphIndent: 0;
  --body-xs-medium-paragraphSpacing: 0;
  --body-xs-medium-textCase: none;
  --body-2xs-regular-fontSize: 0.625rem;
  --body-2xs-regular-textDecoration: none;
  --body-2xs-regular-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-2xs-regular-fontWeight: 430;
  --body-2xs-regular-fontStyle: normal;
  --body-2xs-regular-fontStretch: normal;
  --body-2xs-regular-letterSpacing: 0;
  --body-2xs-regular-lineHeight: 0.9375rem;
  --body-2xs-regular-paragraphIndent: 0;
  --body-2xs-regular-paragraphSpacing: 0;
  --body-2xs-regular-textCase: none;
  --body-2xs-medium-fontSize: 0.625rem;
  --body-2xs-medium-textDecoration: none;
  --body-2xs-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-2xs-medium-fontWeight: 430;
  --body-2xs-medium-fontStyle: normal;
  --body-2xs-medium-fontStretch: normal;
  --body-2xs-medium-letterSpacing: 0;
  --body-2xs-medium-lineHeight: 0.9375rem;
  --body-2xs-medium-paragraphIndent: 0;
  --body-2xs-medium-paragraphSpacing: 0;
  --body-2xs-medium-textCase: none;
  --display-lg-medium-fontSize: 4rem;
  --display-lg-medium-textDecoration: none;
  --display-lg-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-lg-medium-fontWeight: 530;
  --display-lg-medium-fontStyle: normal;
  --display-lg-medium-fontStretch: normal;
  --display-lg-medium-letterSpacing: 0;
  --display-lg-medium-lineHeight: 4.8rem;
  --display-lg-medium-paragraphIndent: 0;
  --display-lg-medium-paragraphSpacing: 0;
  --display-lg-medium-textCase: none;
  --display-lg-semibold-fontSize: 4rem;
  --display-lg-semibold-textDecoration: none;
  --display-lg-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-lg-semibold-fontWeight: 430;
  --display-lg-semibold-fontStyle: normal;
  --display-lg-semibold-fontStretch: normal;
  --display-lg-semibold-letterSpacing: 0;
  --display-lg-semibold-lineHeight: 4.8rem;
  --display-lg-semibold-paragraphIndent: 0;
  --display-lg-semibold-paragraphSpacing: 0;
  --display-lg-semibold-textCase: none;
  --display-md-medium-fontSize: 3.5rem;
  --display-md-medium-textDecoration: none;
  --display-md-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-md-medium-fontWeight: 530;
  --display-md-medium-fontStyle: normal;
  --display-md-medium-fontStretch: normal;
  --display-md-medium-letterSpacing: 0;
  --display-md-medium-lineHeight: 4.2rem;
  --display-md-medium-paragraphIndent: 0;
  --display-md-medium-paragraphSpacing: 0;
  --display-md-medium-textCase: none;
  --display-md-semibold-fontSize: 3.5rem;
  --display-md-semibold-textDecoration: none;
  --display-md-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-md-semibold-fontWeight: 430;
  --display-md-semibold-fontStyle: normal;
  --display-md-semibold-fontStretch: normal;
  --display-md-semibold-letterSpacing: 0;
  --display-md-semibold-lineHeight: 4.2rem;
  --display-md-semibold-paragraphIndent: 0;
  --display-md-semibold-paragraphSpacing: 0;
  --display-md-semibold-textCase: none;
  --display-sm-medium-fontSize: 3rem;
  --display-sm-medium-textDecoration: none;
  --display-sm-medium-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-sm-medium-fontWeight: 530;
  --display-sm-medium-fontStyle: normal;
  --display-sm-medium-fontStretch: normal;
  --display-sm-medium-letterSpacing: 0;
  --display-sm-medium-lineHeight: 3.6rem;
  --display-sm-medium-paragraphIndent: 0;
  --display-sm-medium-paragraphSpacing: 0;
  --display-sm-medium-textCase: none;
  --display-sm-semibold-fontSize: 3rem;
  --display-sm-semibold-textDecoration: none;
  --display-sm-semibold-fontFamily: var(--font-saans, 'Saans'), Arial;
  --display-sm-semibold-fontWeight: 430;
  --display-sm-semibold-fontStyle: normal;
  --display-sm-semibold-fontStretch: normal;
  --display-sm-semibold-letterSpacing: 0;
  --display-sm-semibold-lineHeight: 3.6rem;
  --display-sm-semibold-paragraphIndent: 0;
  --display-sm-semibold-paragraphSpacing: 0;
  --display-sm-semibold-textCase: none;
  --mono-lg-fontSize: 1rem;
  --mono-lg-textDecoration: none;
  --mono-lg-fontFamily: var(--font-geist-mono, 'Geist Mono'), ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --mono-lg-fontWeight: 430;
  --mono-lg-fontStyle: normal;
  --mono-lg-fontStretch: normal;
  --mono-lg-letterSpacing: 0;
  --mono-lg-lineHeight: 1.5rem;
  --mono-lg-paragraphIndent: 0;
  --mono-lg-paragraphSpacing: 0;
  --mono-lg-textCase: none;
  --mono-md-fontSize: 0.875rem;
  --mono-md-textDecoration: none;
  --mono-md-fontFamily: var(--font-geist-mono, 'Geist Mono'), ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --mono-md-fontWeight: 430;
  --mono-md-fontStyle: normal;
  --mono-md-fontStretch: normal;
  --mono-md-letterSpacing: 0;
  --mono-md-lineHeight: 1.3125rem;
  --mono-md-paragraphIndent: 0;
  --mono-md-paragraphSpacing: 0;
  --mono-md-textCase: none;
  --mono-sm-fontSize: 0.75rem;
  --mono-sm-textDecoration: none;
  --mono-sm-fontFamily: var(--font-geist-mono, 'Geist Mono'), ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --mono-sm-fontWeight: 430;
  --mono-sm-fontStyle: normal;
  --mono-sm-fontStretch: normal;
  --mono-sm-letterSpacing: 0;
  --mono-sm-lineHeight: 1.125rem;
  --mono-sm-paragraphIndent: 0;
  --mono-sm-paragraphSpacing: 0;
  --mono-sm-textCase: none;
  --mono-xs-fontSize: 0.625rem;
  --mono-xs-textDecoration: none;
  --mono-xs-fontFamily: var(--font-geist-mono, 'Geist Mono'), ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --mono-xs-fontWeight: 430;
  --mono-xs-fontStyle: normal;
  --mono-xs-fontStretch: normal;
  --mono-xs-letterSpacing: 0;
  --mono-xs-lineHeight: 0.9375rem;
  --mono-xs-paragraphIndent: 0;
  --mono-xs-paragraphSpacing: 0;
  --mono-xs-textCase: none;
  --title-inter-xl-fontSize: 1.5rem;
  --title-inter-xl-textDecoration: none;
  --title-inter-xl-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-xl-fontWeight: 530;
  --title-inter-xl-fontStyle: normal;
  --title-inter-xl-fontStretch: normal;
  --title-inter-xl-letterSpacing: 0;
  --title-inter-xl-lineHeight: 1.95rem;
  --title-inter-xl-paragraphIndent: 0;
  --title-inter-xl-paragraphSpacing: 0;
  --title-inter-xl-textCase: none;
  --title-inter-lg-fontSize: 1.25rem;
  --title-inter-lg-textDecoration: none;
  --title-inter-lg-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-lg-fontWeight: 530;
  --title-inter-lg-fontStyle: normal;
  --title-inter-lg-fontStretch: normal;
  --title-inter-lg-letterSpacing: 0;
  --title-inter-lg-lineHeight: 1.625rem;
  --title-inter-lg-paragraphIndent: 0;
  --title-inter-lg-paragraphSpacing: 0;
  --title-inter-lg-textCase: none;
  --title-inter-md-fontSize: 1.125rem;
  --title-inter-md-textDecoration: none;
  --title-inter-md-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-md-fontWeight: 530;
  --title-inter-md-fontStyle: normal;
  --title-inter-md-fontStretch: normal;
  --title-inter-md-letterSpacing: 0;
  --title-inter-md-lineHeight: 1.4625rem;
  --title-inter-md-paragraphIndent: 0;
  --title-inter-md-paragraphSpacing: 0;
  --title-inter-md-textCase: none;
  --title-inter-sm-fontSize: 1rem;
  --title-inter-sm-textDecoration: none;
  --title-inter-sm-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-sm-fontWeight: 530;
  --title-inter-sm-fontStyle: normal;
  --title-inter-sm-fontStretch: normal;
  --title-inter-sm-letterSpacing: 0;
  --title-inter-sm-lineHeight: 1.3rem;
  --title-inter-sm-paragraphIndent: 0;
  --title-inter-sm-paragraphSpacing: 0;
  --title-inter-sm-textCase: none;
  --title-inter-xs-fontSize: 0.875rem;
  --title-inter-xs-textDecoration: none;
  --title-inter-xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-xs-fontWeight: 530;
  --title-inter-xs-fontStyle: normal;
  --title-inter-xs-fontStretch: normal;
  --title-inter-xs-letterSpacing: 0;
  --title-inter-xs-lineHeight: 1.1375rem;
  --title-inter-xs-paragraphIndent: 0;
  --title-inter-xs-paragraphSpacing: 0;
  --title-inter-xs-textCase: none;
  --title-inter-2xs-fontSize: 0.75rem;
  --title-inter-2xs-textDecoration: none;
  --title-inter-2xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --title-inter-2xs-fontWeight: 530;
  --title-inter-2xs-fontStyle: normal;
  --title-inter-2xs-fontStretch: normal;
  --title-inter-2xs-letterSpacing: 0;
  --title-inter-2xs-lineHeight: 0.975rem;
  --title-inter-2xs-paragraphIndent: 0;
  --title-inter-2xs-paragraphSpacing: 0;
  --title-inter-2xs-textCase: none;
  --body-inter-lg-fontSize: 1rem;
  --body-inter-lg-textDecoration: none;
  --body-inter-lg-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-inter-lg-fontWeight: 430;
  --body-inter-lg-fontStyle: normal;
  --body-inter-lg-fontStretch: normal;
  --body-inter-lg-letterSpacing: 0;
  --body-inter-lg-lineHeight: 1.5rem;
  --body-inter-lg-paragraphIndent: 0;
  --body-inter-lg-paragraphSpacing: 0;
  --body-inter-lg-textCase: none;
  --body-inter-md-fontSize: 0.875rem;
  --body-inter-md-textDecoration: none;
  --body-inter-md-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-inter-md-fontWeight: 430;
  --body-inter-md-fontStyle: normal;
  --body-inter-md-fontStretch: normal;
  --body-inter-md-letterSpacing: 0;
  --body-inter-md-lineHeight: 1.3125rem;
  --body-inter-md-paragraphIndent: 0;
  --body-inter-md-paragraphSpacing: 0;
  --body-inter-md-textCase: none;
  --body-inter-sm-fontSize: 0.75rem;
  --body-inter-sm-textDecoration: none;
  --body-inter-sm-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-inter-sm-fontWeight: 430;
  --body-inter-sm-fontStyle: normal;
  --body-inter-sm-fontStretch: normal;
  --body-inter-sm-letterSpacing: 0;
  --body-inter-sm-lineHeight: 1.125rem;
  --body-inter-sm-paragraphIndent: 0;
  --body-inter-sm-paragraphSpacing: 0;
  --body-inter-sm-textCase: none;
  --body-inter-xs-fontSize: 0.625rem;
  --body-inter-xs-textDecoration: none;
  --body-inter-xs-fontFamily: var(--font-saans, 'Saans'), Arial;
  --body-inter-xs-fontWeight: 430;
  --body-inter-xs-fontStyle: normal;
  --body-inter-xs-fontStretch: normal;
  --body-inter-xs-letterSpacing: 0;
  --body-inter-xs-lineHeight: 0.9375rem;
  --body-inter-xs-paragraphIndent: 0;
  --body-inter-xs-paragraphSpacing: 0;
  --body-inter-xs-textCase: none;
}